@page
@model FoodDelivery.FrontEnd.Pages.Admin.Restaurants.AddModel
@{
}
<h3>Add new restaurant:</h3>
<br />

<a class="btn btn-primary" asp-page="/Admin/Restaurants/Index">Back</a>
<br />
<br />

<form method="post">
  <div class="form-group">
    <label for="RestaurantName">Restaurant name</label>
    <input type="text" class="form-control" id="RestaurantName" name="RestaurantName" placeholder="Enter restaurant name" required >
  </div>
  <div class="form-group">
    <label for="CategoryName">Category name</label>
    <input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="Enter category name" required>
  </div>
  <div class="form-group">
    <label for="RestaurantAddress">Restaurant address</label>
    <input type="text" class="form-control" id="RestaurantAddress" name="RestaurantAddress" placeholder="Enter address" required>
  </div>
  <div class="form-group">
    <label for="ZoneId">Zone ID</label>
    <input type="number" class="form-control" id="ZoneId" name="ZoneId" placeholder="0" required>
  </div>
  <br />
  <input type="submit" value="Submit"  class="btn btn-success" asp-page-handler="Submit">
</form>
@{
    if(@Model.Message != null)
    {
    <p style="color:red">@Model.Message</p>
    }
}