@page
@model FoodDelivery.FrontEnd.Pages.Admin.IndexModel
@{
    ViewData["LoginService"] = "Logout";

}
<header>
    <br />
    <br />
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users/Index">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Dishes/Index">Dishes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/FoodCategories/Index">Food Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Orders/Index">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Restaurants/Index">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Riders/Index">Riders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Zones/Index">Zones</a>
      </li>
    </ul>
  </div>
</nav>

</header>

<h5>Hello: Admin</h5>
<br /><br />
<p>Today is: @Model.Date</p>

