@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["LoginService"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br />
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis lacus sagittis eros pellentesque, id facilisis purus mattis. Sed mauris justo, porttitor ac rhoncus at, condimentum ullamcorper leo. Praesent luctus tristique interdum. Suspendisse a elit tincidunt, blandit massa vitae, imperdiet libero. Mauris varius purus diam, eu placerat lorem blandit eget. Vestibulum dictum dui mattis risus consectetur ultrices. Ut efficitur consectetur nisi. Suspendisse erat purus, molestie quis vestibulum quis, dictum vel sem. Nullam imperdiet, metus quis cursus dictum, felis lacus commodo enim, id laoreet quam lectus vitae justo. Etiam nec tellus dictum, commodo nulla vel, fermentum diam. Mauris et lobortis neque. Praesent efficitur, nibh at volutpat malesuada, sapien enim porttitor magna, fermentum vulputate ante tortor sit amet massa. Nam metus augue, placerat vel malesuada sit amet, imperdiet id ipsum. Sed pharetra non ante sed ornare.

Proin posuere sodales felis, id fringilla magna dignissim eu. Integer ultrices ante eget dui efficitur bibendum. Ut ac tortor sed orci accumsan feugiat. Donec hendrerit eget turpis vel accumsan. Morbi vehicula aliquet justo, eu pellentesque dui blandit eget. Suspendisse id quam dui. Curabitur ut ex bibendum, ullamcorper nisl at, pharetra massa. Praesent eu gravida ipsum. Aenean a orci id quam volutpat facilisis non sed mi. Integer malesuada eu mauris sed venenatis. Morbi sed consequat quam, in tincidunt sapien. Pellentesque sed turpis justo. Nullam semper euismod lectus, quis gravida nisi aliquam ut. Donec suscipit enim fermentum elit consectetur suscipit.

Maecenas dictum velit nunc, sed sagittis dolor consequat in. Aenean arcu ex, cursus a ipsum ut, vulputate venenatis neque. Sed eu augue id arcu gravida sollicitudin. Vestibulum sagittis, odio porta tristique sodales, lectus erat lacinia massa, ut auctor metus turpis molestie velit. Mauris non molestie nulla. Praesent ullamcorper ac erat eget congue. Integer eu purus erat.</p>
</div>
