@page
@model FoodDelivery.FrontEnd.Pages.RegisterModel
@{
}
<h1>Register now!</h1>
<form method="post">
  <div class="form-group">
    <label for="UserName">Login username</label>
    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Enter your login username" maxlength="50" required >
  </div><br />
  <div class="form-group">
    <label for="UserPassword">Password</label>
    <input type="password" class="form-control" id="UserPassword" name="UserPassword" placeholder="Enter your password" maxlength="200" required>
  </div><br />
  <div class="form-group">
    <label for="FullName">Your full name</label>
    <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Enter your full name" maxlength="150" required>
  </div><br />
  <div class="form-group">
    <label for="UserAddress">Your address</label>
    <input type="text" class="form-control" id="UserAddress" name="UserAddress" placeholder="Enter your address" maxlength="150" required>
  </div><br />
  <div class="form-group">
    <label for="EmailAddress">Your e-mail</label>
    <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter your email" maxlength="100" required>
  </div><br />
  <div class="form-group">
    <label for="TelNumber">Your tel. numbre</label>
    <input type="tel" class="form-control" id="TelNumber" name="TelNumber" placeholder="Enter your phone number" maxlength="100">
  </div><br />
  <div class="form-group">
    <label for="isOver18">Is over 18?</label>
    <input type="checkbox" id="IsOver18" name="IsOver18" value="true">
  </div>
   
  <br />
  <input type="submit" value="Submit"  class="btn btn-success" asp-page-handler="Submit">
</form>
@{
    if(Model.Message != null)
    {
        <p style="color:red">@Model.Message</p>
    }
}